* {
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Bracket */

.bracket {}

/* BracketNode */

.bracket-node {
  margin: 10px;
}

.bracket-node, .bracket-node td, .bracket-node th {
  border: 2px solid black;
  border-collapse: collapse;
}

.player {
  width: 115px;
  text-align: left;
  padding: .3rem;
  font-size: 1rem;
}

.score {
  padding: .3rem;
  font-size: 1rem;
}